doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=s, initial-scale=1.0")
        title 4
        link(rel="stylesheet", href="/css/styles.css")
    body 
        .header
            .header__col1
            .header__col2
        .main 
            .main__col1 
                .main__col1__img 
                .main__col1__text 고양이 고양이
            .main__col2
                .main__col2__sec1
                .main__col2__sec2
                .main__col2__sec3
                .main__col2__sec4
            .main__col3
                .main__col3__sec1
                    .main__col3__sec1__img
                .main__col3__sec2
                    .main__col3__sec2__img
                .main__col3__sec3
                    .main__col3__sec3__img
                .main__col3__sec4
                    .main__col3__sec4__img    
           
